.leg {
    background: url(leg.png) no-repeat;
    display: block;
}

.leg-legs14 {
    width: 188px;
    height: 104px;
    background-position: -5px -5px;
}

.leg-legs17 {
    width: 188px;
    height: 104px;
    background-position: -203px -5px;
}

.leg-legs1 {
    width: 188px;
    height: 104px;
    background-position: -401px -5px;
}

.leg-legs12 {
    width: 188px;
    height: 104px;
    background-position: -5px -119px;
}

.leg-legs11 {
    width: 188px;
    height: 104px;
    background-position: -203px -119px;
}

.leg-legs10 {
    width: 188px;
    height: 104px;
    background-position: -401px -119px;
}

.leg-legs13 {
    width: 188px;
    height: 104px;
    background-position: -5px -233px;
}

.leg-legs16 {
    width: 188px;
    height: 104px;
    background-position: -203px -233px;
}

.leg-legs15 {
    width: 188px;
    height: 104px;
    background-position: -401px -233px;
}

.leg-legs2 {
    width: 188px;
    height: 104px;
    background-position: -5px -347px;
}

.leg-legs24 {
    width: 188px;
    height: 104px;
    background-position: -203px -347px;
}

.leg-legs23 {
    width: 188px;
    height: 104px;
    background-position: -401px -347px;
}

.leg-legs22 {
    width: 188px;
    height: 104px;
    background-position: -5px -461px;
}

.leg-legs18 {
    width: 188px;
    height: 104px;
    background-position: -203px -461px;
}

.leg-legs21 {
    width: 188px;
    height: 104px;
    background-position: -401px -461px;
}

.leg-legs20 {
    width: 188px;
    height: 104px;
    background-position: -5px -575px;
}

.leg-legs19 {
    width: 188px;
    height: 104px;
    background-position: -203px -575px;
}

.leg-legs25 {
    width: 188px;
    height: 104px;
    background-position: -401px -575px;
}

.leg-legs3 {
    width: 188px;
    height: 104px;
    background-position: -599px -5px;
}

.leg-legs4 {
    width: 188px;
    height: 104px;
    background-position: -599px -119px;
}

.leg-legs5 {
    width: 188px;
    height: 104px;
    background-position: -599px -233px;
}

.leg-legs6 {
    width: 188px;
    height: 104px;
    background-position: -599px -347px;
}

.leg-legs7 {
    width: 188px;
    height: 104px;
    background-position: -599px -461px;
}

.leg-legs8 {
    width: 188px;
    height: 104px;
    background-position: -599px -575px;
}

.leg-legs9 {
    width: 188px;
    height: 104px;
    background-position: -5px -689px;
}
