.face {
    background: url(../img/face.png) no-repeat;
    display: block;
}

.face-face14 {
    width: 188px;
    height: 168px;
    background-position: -0px -0px;
}

.face-face17 {
    width: 188px;
    height: 168px;
    background-position: -188px -0px;
}

.face-face1 {
    width: 188px;
    height: 168px;
    background-position: -376px -0px;
}

.face-face10 {
    width: 188px;
    height: 168px;
    background-position: -0px -168px;
}

.face-face11 {
    width: 188px;
    height: 168px;
    background-position: -188px -168px;
}

.face-face16 {
    width: 188px;
    height: 168px;
    background-position: -376px -168px;
}

.face-face15 {
    width: 188px;
    height: 168px;
    background-position: -0px -336px;
}

.face-face13 {
    width: 188px;
    height: 168px;
    background-position: -188px -336px;
}

.face-face12 {
    width: 188px;
    height: 168px;
    background-position: -376px -336px;
}

.face-face2 {
    width: 188px;
    height: 168px;
    background-position: -0px -504px;
}

.face-face3 {
    width: 188px;
    height: 168px;
    background-position: -188px -504px;
}

.face-face4 {
    width: 188px;
    height: 168px;
    background-position: -376px -504px;
}

.face-face5 {
    width: 188px;
    height: 168px;
    background-position: -564px -0px;
}

.face-face6 {
    width: 188px;
    height: 168px;
    background-position: -564px -168px;
}

.face-face7 {
    width: 188px;
    height: 168px;
    background-position: -564px -336px;
}

.face-face8 {
    width: 188px;
    height: 168px;
    background-position: -564px -504px;
}

.face-face9 {
    width: 188px;
    height: 168px;
    background-position: -0px -672px;
}
