.hat {
    background: url(../img/hat.png) no-repeat;
    display: block;
}

.hat-hat14 {
    width: 188px;
    height: 168px;
    background-position: -0px -0px;
}

.hat-hat1 {
    width: 188px;
    height: 168px;
    background-position: -188px -0px;
}

.hat-hat15 {
    width: 188px;
    height: 168px;
    background-position: -376px -0px;
}

.hat-hat26 {
    width: 188px;
    height: 168px;
    background-position: -564px -0px;
}

.hat-hat25 {
    width: 188px;
    height: 168px;
    background-position: -0px -168px;
}

.hat-hat24 {
    width: 188px;
    height: 168px;
    background-position: -188px -168px;
}

.hat-hat23 {
    width: 188px;
    height: 168px;
    background-position: -376px -168px;
}

.hat-hat22 {
    width: 188px;
    height: 168px;
    background-position: -564px -168px;
}

.hat-hat21 {
    width: 188px;
    height: 168px;
    background-position: -0px -336px;
}

.hat-hat10 {
    width: 188px;
    height: 168px;
    background-position: -188px -336px;
}

.hat-hat11 {
    width: 188px;
    height: 168px;
    background-position: -376px -336px;
}

.hat-hat12 {
    width: 188px;
    height: 168px;
    background-position: -564px -336px;
}

.hat-hat13 {
    width: 188px;
    height: 168px;
    background-position: -0px -504px;
}

.hat-hat2 {
    width: 188px;
    height: 168px;
    background-position: -188px -504px;
}

.hat-hat20 {
    width: 188px;
    height: 168px;
    background-position: -376px -504px;
}

.hat-hat16 {
    width: 188px;
    height: 168px;
    background-position: -564px -504px;
}

.hat-hat17 {
    width: 188px;
    height: 168px;
    background-position: -0px -672px;
}

.hat-hat18 {
    width: 188px;
    height: 168px;
    background-position: -188px -672px;
}

.hat-hat19 {
    width: 188px;
    height: 168px;
    background-position: -376px -672px;
}

.hat-hat3 {
    width: 188px;
    height: 168px;
    background-position: -564px -672px;
}

.hat-hat4 {
    width: 188px;
    height: 168px;
    background-position: -752px -0px;
}

.hat-hat5 {
    width: 188px;
    height: 168px;
    background-position: -752px -168px;
}

.hat-hat6 {
    width: 188px;
    height: 168px;
    background-position: -752px -336px;
}

.hat-hat7 {
    width: 188px;
    height: 168px;
    background-position: -752px -504px;
}

.hat-hat8 {
    width: 188px;
    height: 168px;
    background-position: -752px -672px;
}

.hat-hat9 {
    width: 188px;
    height: 168px;
    background-position: -0px -840px;
}
