.torso {
    background: url(../img/torso.png) no-repeat;
    display: block;
}

.torso-torso18 {
    width: 188px;
    height: 96px;
    background-position: -5px -5px;
}

.torso-torso2 {
    width: 188px;
    height: 96px;
    background-position: -203px -5px;
}

.torso-torso1 {
    width: 188px;
    height: 96px;
    background-position: -401px -5px;
}

.torso-torso16 {
    width: 188px;
    height: 96px;
    background-position: -599px -5px;
}

.torso-torso15 {
    width: 188px;
    height: 96px;
    background-position: -5px -111px;
}

.torso-torso14 {
    width: 188px;
    height: 96px;
    background-position: -203px -111px;
}

.torso-torso13 {
    width: 188px;
    height: 96px;
    background-position: -401px -111px;
}

.torso-torso11 {
    width: 188px;
    height: 96px;
    background-position: -599px -111px;
}

.torso-torso12 {
    width: 188px;
    height: 96px;
    background-position: -5px -217px;
}

.torso-torso10 {
    width: 188px;
    height: 96px;
    background-position: -203px -217px;
}

.torso-torso17 {
    width: 188px;
    height: 96px;
    background-position: -401px -217px;
}

.torso-torso19 {
    width: 188px;
    height: 96px;
    background-position: -599px -217px;
}

.torso-torso27 {
    width: 188px;
    height: 96px;
    background-position: -5px -323px;
}

.torso-torso23 {
    width: 188px;
    height: 96px;
    background-position: -203px -323px;
}

.torso-torso20 {
    width: 188px;
    height: 96px;
    background-position: -401px -323px;
}

.torso-torso21 {
    width: 188px;
    height: 96px;
    background-position: -599px -323px;
}

.torso-torso22 {
    width: 188px;
    height: 96px;
    background-position: -5px -429px;
}

.torso-torso31 {
    width: 188px;
    height: 96px;
    background-position: -203px -429px;
}

.torso-torso24 {
    width: 188px;
    height: 96px;
    background-position: -401px -429px;
}

.torso-torso33 {
    width: 188px;
    height: 96px;
    background-position: -599px -429px;
}

.torso-torso3 {
    width: 188px;
    height: 96px;
    background-position: -5px -535px;
}

.torso-torso26 {
    width: 188px;
    height: 96px;
    background-position: -203px -535px;
}

.torso-torso25 {
    width: 188px;
    height: 96px;
    background-position: -401px -535px;
}

.torso-torso29 {
    width: 188px;
    height: 96px;
    background-position: -599px -535px;
}

.torso-torso28 {
    width: 188px;
    height: 96px;
    background-position: -5px -641px;
}

.torso-torso30 {
    width: 188px;
    height: 96px;
    background-position: -203px -641px;
}

.torso-torso32 {
    width: 188px;
    height: 96px;
    background-position: -401px -641px;
}

.torso-torso4 {
    width: 188px;
    height: 96px;
    background-position: -599px -641px;
}

.torso-torso5 {
    width: 188px;
    height: 96px;
    background-position: -797px -5px;
}

.torso-torso6 {
    width: 188px;
    height: 96px;
    background-position: -797px -111px;
}

.torso-torso7 {
    width: 188px;
    height: 96px;
    background-position: -797px -217px;
}

.torso-torso8 {
    width: 188px;
    height: 96px;
    background-position: -797px -323px;
}

.torso-torso9 {
    width: 188px;
    height: 96px;
    background-position: -797px -429px;
}
