.hat {
    background: url(hat.png) no-repeat;
    display: block;
}

.hat-hat3 {
    width: 47px;
    height: 42px;
    background-position: -5px -5px;
}

.hat-hat14 {
    width: 47px;
    height: 42px;
    background-position: -62px -5px;
}

.hat-hat1 {
    width: 47px;
    height: 42px;
    background-position: -119px -5px;
}

.hat-hat12 {
    width: 47px;
    height: 42px;
    background-position: -176px -5px;
}

.hat-hat11 {
    width: 47px;
    height: 42px;
    background-position: -5px -57px;
}

.hat-hat10 {
    width: 47px;
    height: 42px;
    background-position: -62px -57px;
}

.hat-hat13 {
    width: 47px;
    height: 42px;
    background-position: -119px -57px;
}

.hat-hat23 {
    width: 47px;
    height: 42px;
    background-position: -176px -57px;
}

.hat-hat15 {
    width: 47px;
    height: 42px;
    background-position: -5px -109px;
}

.hat-hat24 {
    width: 47px;
    height: 42px;
    background-position: -62px -109px;
}

.hat-hat18 {
    width: 47px;
    height: 42px;
    background-position: -119px -109px;
}

.hat-hat16 {
    width: 47px;
    height: 42px;
    background-position: -176px -109px;
}

.hat-hat17 {
    width: 47px;
    height: 42px;
    background-position: -5px -161px;
}

.hat-hat4 {
    width: 47px;
    height: 42px;
    background-position: -62px -161px;
}

.hat-hat21 {
    width: 47px;
    height: 42px;
    background-position: -119px -161px;
}

.hat-hat20 {
    width: 47px;
    height: 42px;
    background-position: -176px -161px;
}

.hat-hat19 {
    width: 47px;
    height: 42px;
    background-position: -5px -213px;
}

.hat-hat2 {
    width: 47px;
    height: 42px;
    background-position: -62px -213px;
}

.hat-hat22 {
    width: 47px;
    height: 42px;
    background-position: -119px -213px;
}

.hat-hat25 {
    width: 47px;
    height: 42px;
    background-position: -176px -213px;
}

.hat-hat5 {
    width: 47px;
    height: 42px;
    background-position: -233px -5px;
}

.hat-hat6 {
    width: 47px;
    height: 42px;
    background-position: -233px -57px;
}

.hat-hat7 {
    width: 47px;
    height: 42px;
    background-position: -233px -109px;
}

.hat-hat8 {
    width: 47px;
    height: 42px;
    background-position: -233px -161px;
}

.hat-hat9 {
    width: 47px;
    height: 42px;
    background-position: -233px -213px;
}
