.leg {
    background: url(leg.png) no-repeat;
    display: block;
}

.leg-legs13 {
    width: 47px;
    height: 26px;
    background-position: -5px -5px;
}

.leg-legs1 {
    width: 47px;
    height: 26px;
    background-position: -62px -5px;
}

.leg-legs14 {
    width: 47px;
    height: 26px;
    background-position: -119px -5px;
}

.leg-legs3 {
    width: 47px;
    height: 26px;
    background-position: -5px -41px;
}

.leg-legs2 {
    width: 47px;
    height: 26px;
    background-position: -62px -41px;
}

.leg-legs16 {
    width: 47px;
    height: 26px;
    background-position: -119px -41px;
}

.leg-legs6 {
    width: 47px;
    height: 26px;
    background-position: -5px -77px;
}

.leg-legs4 {
    width: 47px;
    height: 26px;
    background-position: -62px -77px;
}

.leg-legs5 {
    width: 47px;
    height: 26px;
    background-position: -119px -77px;
}

.leg-legs18 {
    width: 47px;
    height: 26px;
    background-position: -5px -113px;
}

.leg-legs10 {
    width: 47px;
    height: 26px;
    background-position: -62px -113px;
}

.leg-legs7 {
    width: 47px;
    height: 26px;
    background-position: -119px -113px;
}

.leg-legs9 {
    width: 47px;
    height: 26px;
    background-position: -5px -149px;
}

.leg-legs8 {
    width: 47px;
    height: 26px;
    background-position: -62px -149px;
}

.leg-legs20 {
    width: 47px;
    height: 26px;
    background-position: -119px -149px;
}

.leg-legs15 {
    width: 47px;
    height: 26px;
    background-position: -5px -185px;
}

.leg-legs12 {
    width: 47px;
    height: 26px;
    background-position: -62px -185px;
}

.leg-legs11 {
    width: 47px;
    height: 26px;
    background-position: -119px -185px;
}

.leg-legs17 {
    width: 47px;
    height: 26px;
    background-position: -176px -5px;
}

.leg-legs19 {
    width: 47px;
    height: 26px;
    background-position: -176px -41px;
}

.leg-legs21 {
    width: 47px;
    height: 26px;
    background-position: -176px -77px;
}

.leg-legs22 {
    width: 47px;
    height: 26px;
    background-position: -176px -113px;
}

.leg-legs23 {
    width: 47px;
    height: 26px;
    background-position: -176px -149px;
}

.leg-legs24 {
    width: 47px;
    height: 26px;
    background-position: -176px -185px;
}

.leg-legs25 {
    width: 47px;
    height: 26px;
    background-position: -5px -221px;
}
