.torso {
    background: url(torso.png) no-repeat;
    display: block;
}

.torso-torso25 {
    width: 47px;
    height: 24px;
    background-position: -5px -5px;
}

.torso-torso1 {
    width: 47px;
    height: 24px;
    background-position: -62px -5px;
}

.torso-torso17 {
    width: 47px;
    height: 24px;
    background-position: -119px -5px;
}

.torso-torso11 {
    width: 47px;
    height: 24px;
    background-position: -176px -5px;
}

.torso-torso6 {
    width: 47px;
    height: 24px;
    background-position: -5px -39px;
}

.torso-torso5 {
    width: 47px;
    height: 24px;
    background-position: -62px -39px;
}

.torso-torso4 {
    width: 47px;
    height: 24px;
    background-position: -119px -39px;
}

.torso-torso2 {
    width: 47px;
    height: 24px;
    background-position: -176px -39px;
}

.torso-torso3 {
    width: 47px;
    height: 24px;
    background-position: -5px -73px;
}

.torso-torso7 {
    width: 47px;
    height: 24px;
    background-position: -62px -73px;
}

.torso-torso10 {
    width: 47px;
    height: 24px;
    background-position: -119px -73px;
}

.torso-torso8 {
    width: 47px;
    height: 24px;
    background-position: -176px -73px;
}

.torso-torso9 {
    width: 47px;
    height: 24px;
    background-position: -5px -107px;
}

.torso-torso21 {
    width: 47px;
    height: 24px;
    background-position: -62px -107px;
}

.torso-torso23 {
    width: 47px;
    height: 24px;
    background-position: -119px -107px;
}

.torso-torso14 {
    width: 47px;
    height: 24px;
    background-position: -176px -107px;
}

.torso-torso13 {
    width: 47px;
    height: 24px;
    background-position: -5px -141px;
}

.torso-torso12 {
    width: 47px;
    height: 24px;
    background-position: -62px -141px;
}

.torso-torso16 {
    width: 47px;
    height: 24px;
    background-position: -119px -141px;
}

.torso-torso22 {
    width: 47px;
    height: 24px;
    background-position: -176px -141px;
}

.torso-torso19 {
    width: 47px;
    height: 24px;
    background-position: -5px -175px;
}

.torso-torso18 {
    width: 47px;
    height: 24px;
    background-position: -62px -175px;
}

.torso-torso20 {
    width: 47px;
    height: 24px;
    background-position: -119px -175px;
}

.torso-torso15 {
    width: 47px;
    height: 24px;
    background-position: -176px -175px;
}

.torso-torso24 {
    width: 47px;
    height: 24px;
    background-position: -5px -209px;
}

.torso-torso26 {
    width: 47px;
    height: 24px;
    background-position: -62px -209px;
}

.torso-torso27 {
    width: 47px;
    height: 24px;
    background-position: -119px -209px;
}

.torso-torso28 {
    width: 47px;
    height: 24px;
    background-position: -176px -209px;
}

.torso-torso29 {
    width: 47px;
    height: 24px;
    background-position: -233px -5px;
}

.torso-torso30 {
    width: 47px;
    height: 24px;
    background-position: -233px -39px;
}

.torso-torso31 {
    width: 47px;
    height: 24px;
    background-position: -233px -73px;
}

.torso-torso32 {
    width: 47px;
    height: 24px;
    background-position: -233px -107px;
}

.torso-torso33 {
    width: 47px;
    height: 24px;
    background-position: -233px -141px;
}
